<h1>Listing work_intervals</h1>
<p>for Entry: <%= @entry.title %> (<%= format_date(@entry.recorded_for) %>)</p>

<table>
  <tr>
    <th>Entry</th>
    <th>Started at</th>
    <th>Ended at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_intervals.each do |work_interval| %>
  <tr>
    <td><%= work_interval.entry_id %></td>
    <td><%= in_time_zone(work_interval.started_at) %></td>
    <td><%= in_time_zone(work_interval.ended_at) %></td>
    <td><%= link_to 'Show', [@project, @entry, work_interval] %></td>
    <td><%= link_to 'Edit', [:edit, @project, @entry, work_interval] %></td>
    <td><%= link_to 'Destroy', [@project, @entry, work_interval], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work interval', [:new, @project, @entry, :work_interval] %>
