<h1>Listing work_intervals</h1>

<table>
  <tr>
    <th>Entry</th>
    <th>Started at</th>
    <th>Ended at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_intervals.each do |work_interval| %>
  <tr>
    <td><%= work_interval.entry_id %></td>
    <td><%= work_interval.started_at %></td>
    <td><%= work_interval.ended_at %></td>
    <td><%= link_to 'Show', work_interval %></td>
    <td><%= link_to 'Edit', edit_work_interval_path(work_interval) %></td>
    <td><%= link_to 'Destroy', work_interval, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work interval', new_work_interval_path %>
