<style type="text/css">
#entry_title{
  width: 100%;
}

.row .field textarea{
  height: 10em;
}
.row .span4 .field textarea{
  width: 90%;
}
.row .span12 .field textarea{
  width: 100%;
}

.row{
  padding-top: 1em;
}

.related-stories label, .associated_stories_form label{
  display: inline;
}

</style>

<%= form_for(@entry, url: [@project, ((@entry.new_record?) ? :entries : @entry)]) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span3">
      <div class="field">
        <%= f.label :recorded_for %><br />
        <%= f.text_field :recorded_for, value: format_date(@entry.recorded_for, "%m/%d/%Y") %>
      </div>
    </div>

    <div class="span9">
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <div class="field">
        <%= f.label :yesterdays_log, "Yesterday's Log" %><%= link_to "Stories", project_list_stories_path(@project) %> | <%= link_to "Copy from yesterday", project_copy_from_yesterdays_entry_path(@project, recorded_for: "date_value_from_form") %><br />
        <%= f.text_area :yesterdays_log %>
      </div>
      <ul class="related-stories" id="yesterdays_related_stories">
        <%= render partial: 'story_reference', collection: @entry.yesterdays_stories, locals: {category: "yesterdays_related_stories", } %>
      </ul>
    </div>
    <div class="span4">
      <div class="field">
        <%= f.label :todays_log, "Today's Goals" %><%= link_to "Stories", project_list_stories_path(@project) %><br />
        <%= f.text_area :todays_log %>
      </div>
      <ul class="related-stories" id="todays_related_stories">
        <%= render partial: 'story_reference', collection: @entry.todays_stories, locals: {category: "todays_related_stories", } %>
      </ul>
    </div>
    <div class="span4">
      <div class="field">
        <%= f.label :show_stopper_log, "Show-Stoppers" %><%= link_to "Stories", project_list_stories_path(@project) %><br />
        <%= f.text_area :show_stopper_log %>
      </div>
      <ul class="related-stories" id="show_stopper_related_stories">
        <%= render partial: 'story_reference', collection: @entry.show_stopper_stories, locals: {category: "show_stopper_related_stories", } %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="span12">

      <% if(@entry.notes.nil? or @entry.notes.length < 1) %>
        <a id="add-notes" href="javascript: return void();">Add notes</a>
        <div class="field field-notes" style="display: none; ">

      <% else %>
        <div class="field field-notes">
      <% end %>

        <%= f.label :notes, "Notes" %><br />
        <%= f.text_area :notes %>
      </div>
    </div>
    <div class="span12" style="margin-top: 1em;">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
  <p>One fine body…</p>
  </div>
  <div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary">Save changes</button>
  </div>
</div>

<div id="scratch-pad" style="display: none; "></div>

<script type="text/javascript">
  $(document).ready(function(){
    $( "#entry_recorded_for" ).datepicker();
    //$( "#entry_recorded_for" ).datepicker({dateFormat: "yy-mm-dd", altFormat: "yy-mm-dd"});
    // $( "#entry_recorded_for" ).datepicker( "option", "dateFormat", "mm/dd/yy" );
    // $( "#entry_recorded_for" ).datepicker( "option", "altFormat", "yy-mm-dd" );
    $( "#entry_recorded_for" ).datepicker( "option", "dateFormat", "yy-mm-dd" );

    $("#add-notes").click(function(){
      $(this).parent().find(".field-notes").fadeIn(); 
      $(this).fadeOut();
      return false;
    });


    $("#entry_title").focus();
    $("#entry_title").select();

    $("a:contains('Copy from yesterday')").click(function(){
      var anchor = $(this);
      var current_entry = $("#entry_yesterdays_log").val();
      var current_related_stories = $("#yesterdays_related_stories").html().replace(/^[\s\r\n]+$/, "")

      if((current_entry && current_entry.length > 0) || (current_related_stories && current_related_stories.length > 0)){
        var ans = confirm("It looks like you've already logged some stuff in here; are you sure you want to append yesterday's goals?");

        if(ans == false){
          return false
        }
      }

      var entry_recorded_for = $("#entry_recorded_for").val();
      var href = $(anchor).attr("href").replace(/date_value_from_form/, entry_recorded_for);
      console.log("href: " + href);
      $.get(href, function(data){
        $("#scratch-pad").html(data);

        setTimeout(function(){
          var log_entry = $("#scratch-pad .copy-log-entry").html();
          console.log("log_entry: " + log_entry);
          var related_stories = $("#scratch-pad .copy-related-stories").html();

          if(current_entry && current_entry.length > 0){
            current_entry = current_entry + "\n";
          }

          $("#entry_yesterdays_log").val(current_entry + log_entry);
          $("#yesterdays_related_stories").append(related_stories);
        }, 500);
      });

      return false;
    });

    $("a:contains('Stories')").click(function(){
      var anchor = $(this);
      var href = $(anchor).attr("href");
      $.get(href, function(data){
        $("#myModalLabel").html("Select associated stories");
        $('#myModal .modal-body').html(data);
        $('#myModal .btn-primary').unbind("click")

        setTimeout(function(){
          $('#myModal').modal('show');

          $('#myModal .btn-primary').click(function(){
            $("#myModal .modal-body input[type='checkbox']:checked").each(function(index, item){
              var value = $(item).attr("value");
              var name = $(item).attr("name");
              var label = $(item).parent().text();

              var target = $(anchor).closest(".field").parent().find(".related-stories");
              var category = $(target).attr("id");

              $(target).append("<li><input type='checkbox' id='" + category +  "_id_" + value + "' name='" + category +  "_ids[]' value='" + value + "' checked \/> <label for=\"" + category +  "_id_" + value + "\">" + label + "<\/label></li>");
            });

            setTimeout(function(){
              $("#myModal").modal('hide');
            });
            
            return false;
          });
        }, 150);
      });
      return false;
    });
  });
</script>
