  <div class="row">
    <div class="span4">
      <b>Hours worked:</b>
      <ul id="work-intervals">
      <% entry.sorted_work_intervals.each do |interval| %>

        <% if interval.is_active? %>
        <% current_time = Time.zone.now %>
        <li class="estimated-time-interval"><%= format_time_interval(interval.started_at) %> - <span class="current-time">(<%= format_time_interval(current_time) %>)</span> <span class="hours-worked">(<%= interval.delta(current_time) %> hrs)</span></li>

        <% else %>
        <li><%= "#{format_time_interval(interval.started_at)} - #{format_time_interval(interval.ended_at)}" %> <span class="hours-worked">(<%= interval.delta %> hrs)</span></li>
        <% end %>

      <% end %>
      </ul>
    </div>

    <div class="span4">
      <b>Work Hours Summary:</b>
      <ul id="work-intervals-summary">
        <li><b>Total hrs:</b> <span class="hours-worked hours-worked-total">(<%= entry.total_hours_worked({estimate: true}) %> hrs)</span></li>
        <li><b>Full day ends:</b> <span class="day-end-estimate"><%= format_time_interval(entry.work_day_ends_at()) %></span></li>
      </ul>
    </div>


<script type="text/javascript">
  $(document).ready(function(){
    var estTimeInt = $(".estimated-time-interval");
    if($(estTimeInt).length > 0){
      $(estTimeInt).addClass("active");

      $(estTimeInt).closest("ul").find("li:last").addClass("estimated-time-interval active");
    }
  });
</script>

  </div>

