<p>
  <% if(@entry.recorded_for == Date.today) %>
  <%= form_for @entry, url: project_trigger_work_timer_path(@project, @entry), html: {class: "onoffswitch-container"} do |f| %>
  <div class="onoffswitch">
      <input type="hidden" name="onoffswitch" value="0">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" <%= @entry.active_work_interval_exists? ? "checked" : "" %>>
      <label class="onoffswitch-label" for="myonoffswitch">
          <div class="onoffswitch-inner"></div>
          <div class="onoffswitch-switch"></div>
      </label>
  </div>
  <% end %>
  <% end %>

  <h3><%= @entry.title.capitalize %></h3>
</p>

<div class="row">
  <div class="span2">
    <b>Recorded for:</b>
    <%= hidden_field_tag :entry_id, @entry.id %>
    <%= @entry.recorded_for %>
  </div>
  <div class="span8">
    <div class="work-intervals">
      <%= render partial: 'show_work_intervals', locals: {entry: @entry} %>
    </div>
  </div>
</div>

<div class="yesterdays-goals">
<p>
  <b>Yesterday's log:</b>
  <%= format_log(@entry.yesterdays_log) %>
</p>

<% if @entry.yesterdays_stories and @entry.yesterdays_stories.length > 0 %>
<ul>
<p>
  <p>Related stories (due date) ... (est / worked / todo):</p>
  <ul id="story-list-yesterday" class="story-list">
  <li><%= link_to "Total hours worked: #{@entry.last_work_day.total_hours_worked} hrs", project_entry_work_intervals_path(@project, @entry.last_work_day) %></li>
  <%= render partial: 'yesterdays_stories', locals: {project: @project, entry: @entry}%>
  </ul>
</p>
</ul>
<% end %>
</div>

<div class="todays-goals">
<p>
  <!-- http://stackoverflow.com/questions/13231125/automically-open-default-email-client-and-pre-populate-content -->
  <b>Today's goals:</b> <span class="email-goals-to-manager"><%= link_to "Email", "mailto:#{@email.manager}?subject=#{@email.subject}&body=" %></span>
  <%= format_log(@entry.todays_log) %>
</p>

<% if @entry.todays_stories and @entry.todays_stories.length > 0 %>
<ul>
<p>
  <p>Related stories (due date) ... (est / worked / todo):</p>
  <ul id="story-list-today" class="story-list">
  <%= render partial: 'todays_stories', locals: {project: @project, entry: @entry}%>
  </ul>
</p>
</ul>
<% end %>
</div>

<% if @entry.show_stopper_log and @entry.show_stopper_log.length > 0 %>
<div class="show-stoppers">
<p>
  <b>Show-stoppers:</b>
  <%= format_log(@entry.show_stopper_log) %>
</p>
<ul>
<p>
  <p>Show Stoppers:</p>
  <ul id="story-list-show-stopper" class="story-list">
  <%= render partial: 'show_stopper_stories', locals: {project: @project, entry: @entry}%>
  </ul>
</p>
</ul>
</div>
<% end %>

<%= link_to 'Edit', edit_project_entry_path(@project, @entry) %> |
<%= link_to 'Back', [@project, :entries] %>

<div id="note-log">
  <%= render partial: 'show_note_logs' %>
  <%= render partial: 'show_related_story_note_logs' %>
</div>

<div id="internal-references" style="display: none; ">
<%= link_to 'show work intervals', show_work_intervals_project_entry_path(@project, @entry) %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    init_work_timer();

    init_note_logs();
    init_note_form();
    init_mark_as_done("a:contains('Mark as Done')");

    init_email_goals_to_manager(".email-goals-to-manager a");
  })

</script>
