<p>
  <% if(@entry.recorded_for == Date.today) %>
  <%= form_for @entry, url: project_trigger_work_timer_path(@project, @entry), html: {class: "onoffswitch-container"} do |f| %>
  <div class="onoffswitch">
      <input type="hidden" name="onoffswitch" value="0">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" <%= @entry.active_work_interval_exists? ? "checked" : "" %>>
      <label class="onoffswitch-label" for="myonoffswitch">
          <div class="onoffswitch-inner"></div>
          <div class="onoffswitch-switch"></div>
      </label>
  </div>
  <% end %>
  <% end %>

  <h3><%= @entry.title.capitalize %></h3>
</p>

<div class="row">
  <div class="span2">
    <b>Recorded for:</b>
    <%= @entry.recorded_for %>
  </div>
  <div class="span8">
    <div class="work-intervals">
      <%= render partial: 'show_work_intervals', locals: {entry: @entry} %>
    </div>
  </div>
</div>

<p>
  <b>Yesterday's log:</b>
  <%= format_log(@entry.yesterdays_log) %>
</p>

<% if @entry.yesterdays_stories and @entry.yesterdays_stories.length > 0 %>
<ul>
<p>
  <p>Related stories (due date) ... (est / worked / todo):</p>
  <ul>
  <% @entry.yesterdays_stories.each do |story| %>
    <li><%= link_to "(#{format_date(story.due_on)}) #{story.title} : [#{story.hours_est} / #{story.hours_worked} / #{story.hours_todo}]", [@project, story] %></li>
  <% end %>
  </ul>
</p>
</ul>
<% end %>

<p>
  <b>Today's Goals:</b>
  <%= format_log(@entry.todays_log) %>
</p>

<% if @entry.todays_stories and @entry.todays_stories.length > 0 %>
<ul>
<p>
  <p>Related stories (due date) ... (est / worked / todo):</p>
  <ul>
  <% @entry.todays_stories.each do |story| %>
    <li><%= link_to "(#{format_date(story.due_on)}) #{story.title} : [#{story.hours_est} / #{story.hours_worked} / #{story.hours_todo}]", [@project, story] %></li>
  <% end %>
  </ul>
</p>
</ul>
<% end %>

<% if @entry.show_stopper_log and @entry.show_stopper_log.length > 0 %>
<p>
  <b>Show-stoppers:</b>
  <%= format_log(@entry.show_stopper_log) %>
</p>
<ul>
<p>
  <p>Show Stoppers:</p>
  <ul>
  <% @entry.show_stopper_stories.each do |story| %>
    <li><%= link_to "(#{format_date(story.due_on)}) #{story.title} : [#{format_date(story.stopped_since)}]", [@project, story] %></li>
  <% end %>
  </ul>
</p>
</ul>
<% end %>

<% if @entry.notes and @entry.notes.length > 0 %>
<p>
  <b>Notes:</b>
<ul>
  <%= format_text(@entry.notes) %>
</ul>
</p>
<% end %>

<%= link_to 'Edit', edit_project_entry_path(@project, @entry) %> |
<%= link_to 'Back', [@project, :entries] %>

<div id="internal-references" style="display: none; ">
<%= link_to 'show work intervals', show_work_intervals_project_entry_path(@project, @entry) %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    init_work_timer();
  })

</script>
