  <p>
    Hours worked (from entries):
  </p>
  
  <% story.work_hours.each do |work_hour| %>
    <div class="row">
      <div class="span2"><%= work_hour.hours.to_f %></div>
      <div class="span4"><%= work_hour.note %></div>
      <div><%= link_to 'Show', [@project, story, work_hour] %>
      | <%= link_to 'Edit', polymorphic_path([:edit, @project, story, work_hour], layout: false) %>
      | <%= link_to 'Destroy', [@project, story, work_hour], method: :delete, data: { confirm: 'Are you sure?' } %></div>
      
    </div>
  <% end %>

