<div style="clear: both; margin-top: 1em; "></div>
<p>
  <b>Due on:</b>
  <%= @story.due_on %>
  <span class="story-controls">
  <%= link_to 'Mark as Done', [:mark_as_done, @project, @story], method: :put, data: { confirm: 'Are you sure?' } %>
  <span class="story-status story-status-<%= @story.status.downcase %>">(<%= @story.status %>)</span>
  </span>
</p>

<p>
  <b>Title:</b>
  <%= @story.title %> 
</p>

<p>
  <b>Description:</b>
  <%= format_text(@story.description) %>
</p>


<%= form_for @story, url: update_hours_project_story_path(@project, @story), html: {class: "update-hours"} do |f| %>
<p>
  <b>Hours est:</b>
  <%= f.number_field :hours_est, value: format_float(@story.hours_est) %>
</p>

<p>
  <b>Hours worked:</b>
</p>

<ul>
  <p>
    Hours worked (cached):
    <%= format_float(@story.hours_worked) %>
  </p>

  <div class="story-work-hours">
    <div class="row total">
      <div class="span2"><%= @story.work_hours_total.to_f %></div>
      <div class="span4">Total hours from entries</div>
      <div class="span4">
        <%= link_to "Details", fetch_work_hours_project_story_path(@project, @story), class: "btn get-hours" %>
      </div>
    </div>

    <div class="details">
    </div>
  </div>

  <!-- 
    <div class="row total">
      <div class="span2"><%#= @story.work_hours_billable_total.to_f %></div>
      <div class="span4">Total hours from entries</div>
    </div>
  -->
</ul>

<p>
  <b>Hours todo:</b>
  <%= f.number_field :hours_todo, value: format_float(@story.hours_todo) %>
</p>
<% end %>

<p>
  <b>Stopped since:</b>
  <%= @story.stopped_since %>
</p>


<%= link_to 'Edit', edit_project_story_path(@project, @story) %> |
<%= link_to 'Back', [@project, :stories] %>

<div id="note-log">
  <%= render partial: 'shared/show_note_logs', locals: {item: @story} %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    init_hour_updater();

    init_note_logs();
    init_note_form();

    //init_work_hours_log_add_work_hours("a:contains('Add hours worked')");

    init_story_work_hours(".story-work-hours", ".story-work-hours .details");
  });
</script>

