<p id="notice"><%= notice %></p>

<p>
  <b>Due on:</b>
  <%= @story.due_on %>
</p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Description:</b>
  <%= format_text(@story.description) %>
</p>


<%= form_for @story, url: update_hours_project_story_path(@project, @story), html: {class: "update-hours"} do |f| %>
<p>
  <b>Hours est:</b>
  <%= f.number_field :hours_est, value: format_float(@story.hours_est) %>
</p>

<p>
  <b>Hours worked:</b>
  <%= f.number_field :hours_worked, value: format_float(@story.hours_worked) %>
</p>

<p>
  <b>Hours todo:</b>
  <%= f.number_field :hours_todo, value: format_float(@story.hours_todo) %>
</p>
<% end %>

<p>
  <b>Stopped since:</b>
  <%= @story.stopped_since %>
</p>


<%= link_to 'Edit', edit_project_story_path(@project, @story) %> |
<%= link_to 'Back', [@project, :stories] %>

<script type="text/javascript">
  $(document).ready(function(){
    init_hour_updater();
  });
</script>

