<% show_if?(!@options[:stand_alone]) do %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Hours:</b>
  <%= @work_hour.hours %>
</p>

<p>
  <b>Note:</b>
  <%= @work_hour.note %>
</p>


<% show_if?(!@options[:stand_alone]) do %>
<%= link_to 'Edit', [:edit, @project, @story, @work_hour] %> |
<%= link_to 'Back', [@project, @story, :work_hours] %>
<% end %>

