<p id="notice"><%= notice %></p>

<p>
  <b>Hours:</b>
  <%= @work_hour.hours %>
</p>

<p>
  <b>Note:</b>
  <%= @work_hour.note %>
</p>


<%= link_to 'Edit', [:edit, @project, @story, @work_hour] %> |
<%= link_to 'Back', [@project, @story, :work_hours] %>
